body{
	background-color: #F8EEE7;
}
.edit{
	width: 120px;
	border-radius: 500px;}
.navbar-nav a {
	font-family: Cambria, serif;
	font-size: 20px;
	line-height: 1.3em;
	color: #F8E8D9;
	margin: 9px;

}

.navbar-nav a:hover {
	font-family: Cambria, serif;
	font-size: 24px;
	line-height: 1.3em;
}
.navbar-nav>u{
  border-right: 1px solid #F8EEE7;
}
